
  body {
    color: rgb(105, 105, 105);
    font-family: georgia;
    margin: 100px;
    background-color: white;
  }

  div.buttons {
    margin: 100px;
    align-items: center;
  }
  div.buttons {
    display:inline-block;
    width:auto;
  }
  div.titles {
    margin: 100px;
    background-color: white;
    padding: 100px;
  }
  div.card {
    margin: 100px;
  }
  #wrapper {
    margin: 100px;
    width: 1000px;
  }
  #transport {
    width: 200px;
    float: left;
    background-color: white;
  }
  #housing {
    width: 200px;
    float: left;
    background-color: white;
  }
  #education {
    width: 200px;
    float: left;
    background-color: white;
  }
  #safety {
    width: 200px;
    float: left;
    background-color: white;
  }
  #sustainability {
    width: 200px;
    float: left;
    background-color: white;
  }
  #health {
    width: 200px;
    float: left;
    background-color: white;
  }


  li.nav-item {
    color:rgb(105, 105, 105);
    font-family:verdana;
  }

  div.members {

  }

  li:hover {
    color: rgb(148, 0, 211);
    transition: 0.6 ease;
    font-size: 1.2em;
  }

  div.about-gmsa {
      min-height: 0vh;
      width: 100vw;
    }

    li.nav-item {
      color:rgb(105, 105, 105);
      font-family:verdana;
    }

    a.navbar-light .navbar-brand .nav-link {
      color:rgb(5, 5, 5);
      font-family:verdana;
    }

    div.about-paragraph {
      color:rgb(105, 105, 105);
      font-family:verdana;
      text-align: justify;

    }
    .col-md-4{
      display: inline-block;
      margin-left:-10px;
      color:rgb(105, 105, 105);
      font-family:verdana;
    }
    .col-md-4 img{
      width:100%;
      height:auto;
    }

    body .carousel-control-prev-icon,
    body .carousel-indicators li,
    body .carousel-control-next-icon{
      background-color:#000;
      color:rgb(105, 105, 105);
      font-family:verdana;
    }

    span.carousel-control-prev-icon {
     position: relative;
     bottom: 40px;
     right: 40px;
     color:rgb(105, 105, 105);
    }

    span.carousel-control-next-icon {
     position: relative;
     bottom: 40px;
     color:rgb(105, 105, 105);
    }

  a.navbar-light .navbar-brand .nav-link {
    color:rgb(5, 5, 5);
    font-family:verdana;
  }

  div.about-paragraph {
    color:rgb(105, 105, 105);
    font-family:verdana;
    text-align: justify;

  }
  .col-md-4{
    display: inline-block;
    margin-left:-10px;
    color:rgb(105, 105, 105);
    font-family:verdana;
  }
  .col-md-4 img{
    width:100%;
    height:auto;
  }

  body .carousel-control-prev-icon,
  body .carousel-indicators li,
  body .carousel-control-next-icon{
    background-color:#000;
    color:rgb(105, 105, 105);
    font-family:verdana;
  }

  span.carousel-control-prev-icon {
   position: relative;
   bottom: 40px;
   right: 40px;
   color:rgb(105, 105, 105);
  }

  span.carousel-control-next-icon {
   position: relative;
   bottom: 40px;
   color:rgb(105, 105, 105);
  }
