
body {
  color: rgb(105, 105, 105);
  font-family: sans-serif;
  margin: 100px;
  background-image: url(https://i.imgur.com/GfD2WxE.jpg);
}
div.buttons {
  margin: 100px;
  align-items: center;
}
div.buttons {
  display:inline-block;
  width:auto;
}
div.titles {
  margin: 100px;
  background-color: white;
  padding: 100px;
}
div.card {
  margin: 100px;
}
#wrapper {
  margin: 100px;
  width: 1000px;
}
#transport {
  width: 200px;
  float: left;
  background-color: white;
}
#housing {
  width: 200px;
  float: left;
  background-color: white;
}
#education {
  width: 200px;
  float: left;
  background-color: white;
}
#safety {
  width: 200px;
  float: left;
  background-color: white;
}
#sustainability {
  width: 200px;
  float: left;
  background-color: white;
}
#health {
  width: 200px;
  float: left;
  background-color: white;
}
div.about-theassembly {
  color:rgb(105, 105, 105);
  font-family:sans-serif;

}
div.members {
  
}

li:hover {
  color: rgb(148, 0, 211);
  transition: 0.6 ease;
  font-size: 1.2em;

}
li.MMU {

}
li.RNCM {

}
li.UOB {

}
li.UOM {

}
li.UOS {

}
